In [2]:
#variables python

In [3]:
x = 5

In [4]:
y = 3

In [5]:
x+y

8

In [6]:
5+8

13

In [7]:
#rules declaring the variables:

In [9]:
first_name = 'hari'

print(first_name)

hari

In [11]:
firstname = 'hari mothukuri'

print(firstname)

hari mothukuri

In [12]:
# variable naming convention should not start with a number

In [14]:
name1 = 'hari'

print(name1)

hari

In [15]:
# variable name should not start with any special characters

In [18]:
# classifcations of data types 
#1.mutable data type
#2.immutable data type

#single quotes
#double quotes
#triple quotes

In [19]:
name1 = 'krishna'

print(name1)

krishna

In [21]:
name2 = "jyotsna"
print(name2)

jyotsna

In [22]:
name3 = """hari"""

print(name3)

hari

In [23]:
#verify and validation process

In [24]:
type(name1)

str

In [25]:
type(name2)

str

In [ ]:
#str means it is a string

In [26]:
# enhancement of the code

In [27]:
#name
#title()
#upper case letters
#lower case letters

In [29]:
full_name = 'mothukuri hari'

print(full_name)

mothukuri hari

In [30]:
#title

In [31]:
print(full_name.title())

Mothukuri Hari

In [32]:
#upper case letters

In [33]:
print(full_name.upper())

MOTHUKURI HARI

In [34]:
#lower case letters

In [35]:
print(full_name.lower())

mothukuri hari